<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/public/styles.css"/>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .btn {
        font-size: 25px;
        padding: 15px 25px;
      }
      h1 {
        color: #333;
        margin-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <include src="./shared/header.html"></include>

    <!-- Home Page Content -->
    <div class="containeer mt-5">
      <h1>Welcome to the BMI Calculator</h1>
      <p id="ptag">
        This is a simple app to calculate your Body Mass Index (BMI).
      </p>
      <a href="/bmicalculator" class="btn btn-primary">Calculate BMI</a>
    </div>
    
    <include src="./shared/footer.html"></include>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/navbar.js"></script>
  </body>
</html>
